h3 {
  color: blue;
}

h2 {
  color: blue;
  font-weight: bold;
}

label {
  font-size: 10px;
  color:green;
}

.filter {
  color: green;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
